
extends layout

block layout-content
	h1 Game of the Generals
	div.player#black
		span BLACK
		span.name
	table.board
		- for (var y = 8; y > 0; y--)			
			tr
			- for (var x = 1; x < 10; x++)
				td.cell.droppable(data-location = x + '-' + y, cellpadding='0px', cellspacing='0px')
					div.box(id='cell-' + x + '-' + y)
					span.coor (#{x},#{y})
	div.player#white
		span WHITE
		span.name