extends layout

block layout-content
  div.page
    div.wrapper
      div.container.left#aaa
        div.ccc
          p hello
      div.container.right#bbb
        div.ccc
          p hey!!
      div.container.right#ccc
        div.ccc
          p oi