body{
	background-color: transparent;
	padding: 0;
	margin: 0;
	width: 100%
}
.board{
	width: 560px;
    height: 564px;
    display: block;
    background-color: #ff7f27;
    margin: 0 auto;
    border: 5px solid #9e866d;
    border-spacing: 0;
    border-collapse: collapse;
}
.box{
    width: 58px;
    height: 55px;    
}
.cell{
    display: table-cell;
    border: 3px solid #000000;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 10px;
}
.piece{
    width: 100%;
    height: 100%;
    top: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.piece.whitepiece{
	background-image: url('../images/whitepiece.png');
}
.piece.whitepiece:hover{
	background-image: url('../images/whitepiece-select.png');
}
.piece.blackpiece{
	background-image: url('../images/blackpiece.png');
}
.piece.blackpiece:hover{
	background-image: url('../images/blackpiece-select.png');
}
.piece:hover {	
	background-color: yellow;
}
.player{
	width: 99%;
	text-align: center;
	padding: 10px 0;
}
.player span {
    display: block;
}
.coor{
	position: relative;
    display: block;
}

.wrapper{
    width: 560px;
    background-color: gray;
}
.left, .right{
    width: 280px;
}
.left{
    background-color: yellow;
    float: left;
}
.right{
    background-color: green;
    float: right;
}
.dragpiece{
    z-index: 0;
    height: 55px;
}